<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>URL</key>
    <dict>
      <key>PowerWatch</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(www\.)?powerwatch\.\w+\/.+</string>
        </array>
      </dict>
      <key>Streame</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(www\.)?streame\.\w+\/.+</string>
        </array>
      </dict>
      <key>XFileShare</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(www\.)?thevideobee\.(?:[^\/]+\/).+</string>
        </array>
      </dict>
    </dict>
  </dict>
</plist>
